footer.background-darkgrey   
    div.container
        nav.footer_margin.d-flex.jc-btw.background-darkgrey
            div.nav_left.d-flex
                div.nav_left-logo 
                    img(src="./img/logo.png", alt="Logo" style="height:60px;width:60px")
                div.nav_left-title.d-flex  
                    a.nav_left-link(href="#") Marketplace                      
                    a.nav_left-link(href="#") Artists    
                    a.nav_left-link(href="#") Contact  
            div.footer_links
                div.footer_box
                    img.footer_img(src="./img/footer1.png", alt="")
                div.footer_box
                    img.footer_img(src="./img/footer2.png", alt="")
                div.footer_box
                    img.footer_img(src="./img/footer3.png", alt="")
                     