header.background-darkgrey
    div.container.p-relative
        nav.d-flex.jc-btw.background-darkgrey
            div.nav_left.d-flex
                div.pos.nav_left-logo 
                    img(src="./img/logo.png", alt="Logo" style="height:60px;width:60px")
                div.pos.nav_left-title.d-flex  
                    a.nav_left-link(href="#") Marketplace                      
                    a.nav_left-link(href="#") Artists    
                    a.nav_left-link(href="#") Contact                       
            div.pos.nav_right
                button.navr_button Buy Template
        div.header_top
            div.header_left 
                h1.pos.header_left-title Discover rare digital art and collect NFT’s
                p.pos.header_left-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum.
                div.header_left-vid.pos.d-flex
                    a.header_left-videotext(href="#") Watch video
                    img.header_left-videotext-icon(src="./img/Vector.png", alt="")
            div.header_right 
                img.header_right-imgback(src="./img/backgroundheader.png", alt="BACK")
        div.header_bottom.d-flex.jc-btw
            div.hb_title
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.
            div.hb_info.d-flex
                div.info
                    span.info_title 17K
                    span.info_title-little  Artwork
                div.info
                    span.info_title 4.5K
                    span.info_title-little  Auctions                      
                div.info
                    span.info_title 23
                    span.info_title-little  Artists               