main.background-darkgrey
    div.container.background-grey
        div.main_top.margtop
            img.mimg.main_img1(src="./img/IMAGE-1.png", alt="")
            img.mimg.main_img2(src="./img/IMAGE-2.png", alt="")
            img.mimg.main_img3(src="./img/IMAGE-3.png", alt="")
        div.main_bottom.margbot
            img.mimg.main_img4(src="./img/IMAGE-4.png", alt="")
            img.mimg.main_img5(src="./img/IMAGE-5.png", alt="")
            img.mimg.main_img6(src="./img/IMAGE.png", alt="")
    div.container
        h2.main2_title Create and sell NFTs
        div.main2_conbox.d-flex     
            div.main2_box.p-relative
                div.main2_figures
                    div.main2_vector
                    div.main2_line
                div.main2_textes
                    p.main2_texttitle Connect your wallet
                    p.main2_text Lorem ipsum dolor sit amet, consectetur adipiscing elit
            div.main2_box.p-relative
                div.main2_figures
                    div.main2_vector
                    div.main2_line
                div.main2_textes
                    p.main2_texttitle Explore our marketplace
                    p.main2_text Lorem ipsum dolor sit amet, consectetur
            div.main2_box.p-relative
                div.main2_figures
                    div.main2_vector
                    div.main2_line
                div.main2_textes
                    p.main2_texttitle Create your collection
                    p.main2_text Lorem ipsum dolor sit amet, consectetur adipiscing  
    div.container.p-relative.main3_height
        div.main3_toptitle
            p.main3_texttitle Trending this week
            p.main3_text Lorem ipsum dolor sit amet, consectetur dolore adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        div.main3_right
            div.main3_block.mb1
                div.main3_titles.d-flex.jc-btw
                    div.main3_titles_left
                        p.main3_block-texttitle Jason Riley
                        p.main3_block-text  Miricale Culture
                    div.main3_titles_right
                        p.main3_block-cost 3.24 ETH
                img(src="./img/newimg3.png", alt="") 
            div.main3_block.mb2
                div.main3_titles.d-flex.jc-btw
                    div.main3_titles_left
                        p.main3_block-texttitle Mandy Ross
                        p.main3_block-text  Miricale Culture
                    div.main3_titles_right
                        p.main3_block-cost 3.24 ETH
                img(src="./img/newimg2.png", alt="")   
            div.main3_block.mb3
                div.main3_titles.d-flex.jc-btw
                    div.main3_titles_left
                        p.main3_block-texttitle Lewis Lowie
                        p.main3_block-text  Miricale Culture
                    div.main3_titles_right
                        p.main3_block-cost 3.24 ETH
                img(src="./img/newimg4.png", alt="")
            div.main3_block.mb4
                div.main3_titles.d-flex.jc-btw
                    div.main3_titles_left
                        p.main3_block-texttitle Dan Gatty
                        p.main3_block-text  Miricale Culture
                    div.main3_titles_right
                        p.main3_block-cost 3.24 ETH
                img(src="./img/newimg1.png", alt="")    
            div.main3_block.mb5
                div.main3_titles.d-flex.jc-btw
                    div.main3_titles_left
                        p.main3_block-texttitle Mandy Ross
                        p.main3_block-text  Miricale Culture
                    div.main3_titles_right
                        p.main3_block-cost 3.24 ETH
                img(src="./img/newimg5.png", alt="")    
            div.main3_block.mb6
                div.main3_titles.d-flex.jc-btw
                    div.main3_titles_left
                        p.main3_block-texttitle Mandy Ross
                        p.main3_block-text  Miricale Culture
                    div.main3_titles_right
                        p.main3_block-cost 3.24 ETH
                img(src="./img/newimg6.png", alt="")                                
            div.main3_leftbottom
                div.line31
                div.line32
                p.m3_lb-title View marketplace
    div.container.p-relative.main4_height
        div.main4_block.d-flex
            div.main4titles.background-grey
                div.line41
                div.line42
                p.m4_lb-title View marketplace
                p.m4lt Lorem ipsum dolor sit amet.  
            div.main4text
                p.m4text Popular artists     
        div.main4boxes.background-grey.d-flex
            div.main4box
                img.m4pabs.m41(src="./img/icon1.png", alt="")
                img(src="./img/bgicon1.png", alt="")
                div.m4boxtitles
                    p.m4boxtitle Jason Santigo
                    button.navr_button.m4button Follow
            div.main4box
                img.m4pabs.m42(src="./img/icon2.png", alt="")
                img(src="./img/bgicon2.png", alt="")
                div.m4boxtitles
                    p.m4boxtitle Jason Santigo
                    button.navr_button.m4button Follow
            div.main4box
                img.m4pabs.m43(src="./img/icon3.png", alt="")
                img(src="./img/bgicon3.png", alt="")
                div.m4boxtitles
                    p.m4boxtitle Jason Santigo
                    button.navr_button.m4button Follow
    div.container.p-relative.main5_height
        div.main5_block1
            div.main5_titles
                p.main5title Backed by the best
                p.main5text Lorem ipsum dolor sit amet, consectetur dolore adipiscing elit, sed do eiusmod tempor incididunt.
            div.main5_boxes.d-flex
                div.m5left
                    div.main5box
                        img(src="./img/5icon1.png", alt="")
                    div.main5box
                        img(src="./img/5icon2.png", alt="")
                div.m5right
                    div.main5box
                        img(src="./img/5icon3.png", alt="")
                    div.main5box
                        img(src="./img/5icon5.png", alt="")
                div.m5center
                    div.main5box
                        img(src="./img/5icon4.png", alt="") 
        div.main5_block2.background-grey
                div.m5blocktitles
                    img.m5hand(src="./img/hand5main.png", alt="") 
                    p.main5title.mb5title Never miss a drop
                    p.main5textbl2 Lorem ipsum dolor sit amet, consectetur dolore adipiscing elit, sed do eiusmod tempor incididunt.
                div.m5inpbut
                    input.m5text(type="text")
                    button.m5button
                div.m5linepurp    

                    